*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
    background-color: #e8eeef;
  }

.container-menu{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #4889A4;
    -webkit-box-shadow: 0px -5px 27px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 27px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 27px 0px rgba(0,0,0,0.75);
    border-radius: 0 0 85% 85% / 30%;
}

.menu-top-bar{
    position: relative;
    width: 77%;
    height: 50px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    z-index: 999;
}

.color-top-bar{
    position: absolute;
    width: 100%;
    height: 85px;
    background-color: black;
    opacity: 0.6;
}

.menu-item{
    position: relative;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    text-align: center;
    line-height: 3;
    border-radius: 5px;
    opacity: 0.8;
    top: 10px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-size: 22px;
    transition: 0.8s;
}
.menu-item:hover{
opacity: 0.7;
background-color: #bdc3c7;
color: black;
}

.container{
    position: relative;
    width: 100%;
    height: auto;
    display: inline-flex;
    margin: 50px 0 50px 0 ;
}

.container-news{
    position: relative;
    width: 40%;
    border-radius: 20px 20px 5px 5px ;
    background-color: #f5f6fa;
    margin-right: 5%;
    margin-left: 5%;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.container-news-top{
    position: relative;
    height: 70px;
    width: 100%;
    background-color: #4889A4;
    border-radius: 20px 20px 0 0 ;
}
.title-news{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    font-size: 2rem;
    text-shadow: rgba(0,0,0,0.75);
    text-align: center;
    line-height: 2;
}
.text-news{
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 15px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
    text-shadow: rgba(0,0,0,0.75);
    text-align: left;
    line-height: 1.3;
    font-size: 20px;
    
}

.container-graph{
    position: relative;
    height: auto;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    border-radius: 25px 25px 0 0 ;
    background-color: white;
}

.container-big{
    position: relative;
    width: 100%;
    height: 700px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

/* ----------------------------------------------------------------------------------------- */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
    transition: 0.8s;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 600px;
    top: 10%;
    height: 800px;
    z-index: 9999;
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @media only screen and (max-width: 800px) {
    .modal-content {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      z-index: 9999;
    }
    .container{
        display: inline-block;
        
    }
    .container-news{
        height: auto;
        width: 80%;
        margin: 0  0 30px 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .container-menu{
        height: 350px;
    }
  }
  @media only screen and (max-width: 1200px) {
    .container{
        display: inline-block;
        
    }
    .container-news{
        height: auto;
        width: 80%;
        margin: 0  0 30px 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .menu-top-bar{
        width: 100%;
        font-size: 15px;
    }
    .menu-item{
        font-size: 15px;
    }
    .img-menu{
        width: 80%;
    }
  }
  
  /* The Close Button */
  .close {
    position: relative;
    color: #aaaaaa;
    top: 10px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .hr-title{
      position: relative;
      width: 300px;
  }

  /**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
  }

  .shadow{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  }